html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(paulo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.clock{
    width:250px;
    height: 250px;
    margin: 50px auto;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color:#fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#time{
    font-size: 50px;
    font-weight: bold;
    display: block;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
#fecha{
   font-size: 20px;
   margin-top: 10px;
   text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    
}


